{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="form-signup">
      <h1 class="form-title">Create User</h1>
      <form action="/signup" method="post">
        <input class="form-input" type="text" name="username" placeholder="Enter username">
        <input class="form-input" type="password" name="password" placeholder="Enter password">
        <input class="form-input" type="email" name="email" placeholder="Enter email">
        <input class="form-input" type="firstName" name="firstName" placeholder="Enter firstname">
        <input class="form-input" type="lastName" name="lastName" placeholder="Enter lastname">
        <input class="btn" type="submit" value="Sign Up">
      </form>
    </div>
  </div>
{% endblock content %}